#
# The MIT License (MIT)
#
# Copyright (c) 2020 Bollos00
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#


'.source.spice':
	capacitor:
		prefix: 'CXXX'
		body: 'C${1:XXX} ${2:n+} ${3:n-} ${4:...}\n'
	diode:
		prefix: 'DXXX'
		body: 'D${1:XXX} ${2:n+} ${3:n-} ${4:...}\n'
	current_source:
		prefix: 'IXXX'
		body: 'I${1:XXX} ${2:n+} ${3:n-} ${4:...}\n'
	inductor:
		prefix: 'LXXX'
		body: 'L${1:XXX} ${2:n+} ${3:n-} ${4:...}\n'
	msofet:
		prefix: 'MXXX'
		body: 'M${1:XXX} ${2:ndrain} ${3:ngate} ${4:nsource} ${5:nbase} ${6:name}\n'
	bjt:
		prefix: 'QXXX'
		body: 'Q${1:XXX} ${2:ncollector} ${3:nbase} ${4:nemittor} ${5:name}\n'
	resistor:
		prefix: 'RXXX'
		body: 'R${1:XXX} ${2:n1} ${3:n2} ${4:...}\n'
	voltage_source:
		prefix: 'VXXX'
		body: 'V${1:XXX} ${2:n+} ${3:n-} ${4:...}\n'
	subcircuit_call:
		prefix: 'XXXX'
		body: 'X${1:XXX} ${2:nodes} ${3:name}\n'
	model:
		prefix: 'model'
		body: '.model ${1:name} ${2:type} (${3:...})\n'
	subcircuit_definition:
		prefix: 'subckt'
		body: '.subckt ${1:name} ${2:n1} ${3:...}\n\n.ends'
	param:
		prefix: 'param'
		body: '.param ${1:ident} = ${2:expression}'
